<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="connectionString" value="Server=LAPTOP-CVOMG1OH;Database=TestDbMensajeria;Trusted_Connection=True;"/>

  <targets>
    <target xsi:type="Database" name="databaseTarget"
            connectionString="${connectionString}"
            commandText="INSERT INTO Logs (LogDate, Level, Message, Exception) VALUES (@log_date, @level, @message, @exception)">
      <parameter name="@log_date" layout="${longdate}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@message" layout="${message}"/>
      <parameter name="@exception" layout="${exception:format=tostring}"/>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="databaseTarget" />
  </rules>
</nlog>
